@import 'mixins';

@mixin page-grid {
	@include v-gap(16px);

	@media screen and (min-width: $screen-lg) {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

@mixin grid-column($start, $end) {
	@media screen and (min-width: $screen-lg) {
		grid-column-start: $start;
		grid-column-end: $end;
	}
}

.case-study {
	@include container;
	// place below navigation
	padding-top: 80px;
	padding-bottom: 128px;
	@include v-gap(64px);

	@media screen and (min-width: $screen-md) {
		@include v-gap(128px);
	}
}

.section {
	@include page-grid;

	&__title {
		&:not(:has(h2)),
		& h2 {
			font-size: $font-size-16;
			text-transform: lowercase;
		}

		@media screen and (min-width: $screen-lg) {
			grid-column: 1 / 3;
		}

		.subtext {
			font-family: $font-body;
			font-size: $font-size-6;
			font-weight: 500;
			color: $gray-7;
		}
	}

	&__text {
		@include v-gap(1em);
		max-width: 600px;
		font-size: $font-size-9;

		@media screen and (min-width: $screen-lg) {
			max-width: unset;
			grid-column: 3 / 9;
		}

		ul {
			padding: 0 0 0 2em;
			margin: -0.5em 0 0;
		}

		a {
			display: inline-block;
			color: revert;
			text-decoration: underline;
		}

		dl {
			font-size: $font-size-6;
			display: flex;
			gap: 0.5em;
		}
	}

	&__details {
		@media screen and (min-width: $screen-lg) {
			grid-column: 10 / 13;
		}
	}
}

.skill-list {
	@include v-gap(0px);
	margin: 0;
	padding: 0;

	&__item {
		font-size: $font-size-7;
		display: block;
	}
}
