@import 'variables';
@import 'mixins';

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 200 800;
	src: url('/fonts/PlusJakartaSans/PlusJakartaSans-Variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Monigue';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Monigue/Monigue.woff2') format('woff2');
}

body {
	font-family: $font-body;
	line-height: $line-height-8;
	font-size: $font-size-8;
	color: $paragraph;
	background-color: $background;
	min-height: 100vh;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-size: $font-size-8;
	line-height: $line-height-6;
	color: $heading;
}

:focus-visible {
	@include focus;
}

::view-transition-old(root) {
  animation: out $transition-duration-12 $transition-timing forwards;
}

::view-transition-new(root) {
  animation: in $transition-duration-12 $transition-timing forwards;
}

@keyframes out {
  to {
    // filter: blur(16px);
    // opacity: 0;
    transform: translate(-100%, 100%) scale(0.5);
  }
}


@keyframes in {
  from {
    // filter: blur(16px);
    // opacity: 0;
    transform: translate(100%, -100%) scale(0.5);
  }
}