@import 'variables';

@mixin h-split {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@mixin v-split {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin h-gap($gap) {
	display: flex;
	flex-direction: row;
	gap: $gap;
}

@mixin h-gap-centered($gap) {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $gap;
}

@mixin v-gap($gap) {
	display: flex;
	flex-direction: column;
	gap: $gap;
}

@mixin v-gap-centered($gap) {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $gap;
}

@mixin centered {
	display: grid;
	place-items: center;
}

@mixin focus {
	outline: 2px auto $black;
	outline-offset: 3px;
}

@mixin transition($duration, $properties...) {
	$transitions: ();

	@each $property in $properties {
		$transitions: append($transitions, #{$property} #{$duration} #{$transition-timing}, comma);
	}

	transition: $transitions;
}

@mixin force-size($width, $height) {
	width: $width;
	min-width: $width;
	max-width: $width;
	height: $height;
	min-height: $height;
	max-height: $height;
}

@mixin columns($num-cols) {
	display: grid;
	grid-template-columns: repeat($num-cols, minmax(0, 1fr));
	gap: 24px;
}

@mixin container {
	width: min(calc(100% - 48px), 1440px);
	margin: auto;
}
