// <------------- Colors ------------->

// Palette
$white: oklch(99.25% 0.005 67.77);
$black: black;

$gray-1: oklch(91% 0.002 67.75);
$gray-2: oklch(84% 0.002 67.75);
$gray-3: oklch(73% 0.002 67.75);
$gray-5: oklch(55% 0.002 67.75);
$gray-7: oklch(32.57% 0.002 67.75);

$green-1: oklch(90% 0.08 158.03);
$green-2: oklch(82.51% 0.191 152.77);
$green-6: oklch(36.71% 0.073 154.39);
$green-7: oklch(26.54% 0.032 156.65);

$purple-1: oklch(90% 0.06 306.29);
$purple-3: oklch(73.12% 0.15 306.29);

$blue-3: oklch(0.79 0.11 253.58);

// Semantic tokens
$primary: $green-2;
$primary-dark: $green-6;
$primary-extra-dark: $green-7;
$primary-light: $green-1;

$accent: $purple-3;
$accent-light: $purple-1;

$tertiary: $blue-3;

$background: $white;
$heading: $black;
$paragraph: $gray-7;

// <------------- Fonts ------------->

// Font families
$font-heading: 'Monigue', Impact, system-ui, sans-serif;
$font-body: 'Plus Jakarta Sans', 'Neue Haas Grotesk Text Pro', system-ui, sans-serif;

// Font sizes
$font-size-base: 1rem;

$font-size-6: calc($font-size-base * (6 / 8));
$font-size-7: calc($font-size-base * (7 / 8));
$font-size-8: $font-size-base;
$font-size-9: calc($font-size-base * (9 / 8));
$font-size-10: calc($font-size-base * (10 / 8));
$font-size-12: calc($font-size-base * (12 / 8));
$font-size-14: calc($font-size-base * (14 / 8));
$font-size-16: calc($font-size-base * (16 / 8));
$font-size-20: calc($font-size-base * (20 / 8));
$font-size-24: calc($font-size-base * (24 / 8));
$font-size-28: calc($font-size-base * (28 / 8));
$font-size-32: calc($font-size-base * (32 / 8));
$font-size-36: calc($font-size-base * (36 / 8));
$font-size-40: calc($font-size-base * (40 / 8));
$font-size-60: calc($font-size-base * (60 / 8));
$font-size-80: calc($font-size-base * (80 / 8));
$font-size-96: calc($font-size-base * (96 / 8));
$font-size-128: calc($font-size-base * (128 / 8));

// Line heights
$line-height-base: 1.5;

$line-height-6: calc($line-height-base * (6 / 8));
$line-height-8: $line-height-base;

// <------------- Animations ------------->
$transition-timing: cubic-bezier(0.7, 0, 0.3, 1);
$transition-duration-base: 0.5s;

$transition-duration-2: calc($transition-duration-base * (2 / 8));
$transition-duration-4: calc($transition-duration-base * (4 / 8));
$transition-duration-8: $transition-duration-base;
$transition-duration-16: calc($transition-duration-base * (16 / 8));
$transition-duration-24: calc($transition-duration-base * (24 / 8));

// <------------- Screen breakpoints ------------->

$screen-xs: 480px;
$screen-sm: 624px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
